
	<div class="c-presale anim anim--up">
		<div class="o-section o-section--both">
			<div class="o-wrap">
				
				<div class="o-cols o-cols--header">
					<div class="o-cols__item">
						<header class="o-header o-header--indent">
							<h2 class="o-lead--big">Trwa przedsprzedaż</h2>
						</header>
					</div>
					
					<div class="o-cols__item">
						<p>rabaty i dodatki <span>tylko do 2 grudnia</span></p>
					</div>
				</div>


				<div class="o-cols o-cols--info">
					<div class="o-cols__item">
						<img src=<%= require("./img/assets/shapes/arrow-03.svg") %> alt="" width="417">
					</div>

					<div class="o-cols__item">
						<h4 class="o-lead--medium">Książka jeszcze się drukuje i&nbsp;wyślemy ją do Ciebie na początku grudnia 2019 r. Warto zamówić ją teraz, bo tylko w&nbsp;przedsprzedaży dostaniesz:</h4>
					</div>
				</div>
				
				
				<div class="c-presale__benefits">
					<div class="o-cols o-cols--3">
						<div class="o-cols__item anim anim--up">
							<img src=<%= require("./img/logo/metodateczowki.svg") %> alt="" width="60" height="60">
							
							<h4 class="o-lead--medium">Rabat</h4>
							
							<p>Niższa cena</p>
						</div>
	
						<div class="o-cols__item anim anim-delay1 anim--down">
							<img src=<%= require("./img/logo/metodateczowki.svg") %> alt="" width="60" height="60">
							
							<h4 class="o-lead--medium">Wyjątkowy egzemplarz</h4>
							
							<p>Książka z&nbsp;podpisem</p>
						</div>
						
						<div class="o-cols__item anim anim--up">
							<img src=<%= require("./img/logo/metodateczowki.svg") %> alt="" width="60" height="60">
							
							<h4 class="o-lead--medium">Priorytet wysyłki</h4>
							
							<p>Jak tylko pierwsze sztuki pojawią się w&nbsp;magazynie</p>
						</div>
					</div>
				</div>
				
				
				<% include countdown %>
                
                
                <div class="o-cols o-cols--left anim anim--up">
	                <div class="o-cols__item">
		                <h4 class="o-lead--medium">Tyle pozostało do  końca przedsprzedaży.</h4>
		                
		                <p>Książkę kupisz tylko na tej stronie, nie ma jej w księgarniach i&nbsp;w&nbsp;innych sklepach internetowych.</p>
		                
		                <a href="#buy" class="o-btn o-btn--greenoutline js-goto">Kup książkę w przedsprzedaży</a>
	                </div>
	                
	                <div class="o-cols__item">
		                <img src=<%= require("./img/assets/shapes/arrow-04.svg") %> alt="" width="320">
	                </div>
                </div>
			</div>
		</div>
	</div>
